footer
  if config && config.index
    p
      a(href='./index.html') Return to index
  p Built with&nbsp;
    a(href='https://www.github.com/mattyod/matic/') Matic.js&nbsp;
    a(href='https://github.com/jimpurbrick/crestschema') crestschema and&nbsp;
    a('https://nightli.es/') nightli.es by &nbsp;
    a('http://jimpurbrick.com') Jim Purbrick.&nbsp;
    ISK donations gratefully accepted by Capt Out.
