include templates/mixins/indexFolders

doctype html
head
  include templates/includes/css
html
  body.index
    article
      header
        h1 CREST Representations

        p
          | Documentation and JSON schemas for the representations used
          | by the EVE Online CREST API.

      section
        h2 Documentation

        ul
          each file, name in files
            if typeof file === 'string'
              li
                a(href=name)= name

        each folder, name in files
          if typeof folder === 'object'
            h2= name
            ul
              mixin indexFolders(folder, 3)

      include templates/includes/footer
